body{margin:0;padding:0 0 1px}
.widget{position:relative;min-height:0}
.section{margin:0 15px}
.widget{margin:30px 0}
.section:first-child .widget:first-child{margin-top:0}
.section:last-child .widget:last-child{margin-bottom:0}
.widget{line-height:1.4}
.widget ul{padding:0 0 0 1.25em;margin:0;line-height:1.2}
.widget li{padding:.25em 0;margin:0;text-indent:0}
html{height:100%}
body{min-height:100%;position:relative}
section{display:block}
div.clear{clear:both}
body{overflow-wrap:break-word;word-break:break-word;overflow-wrap:break-word}
.container::after{clear:both;content:&quot;&quot;;display:table}
input::-ms-clear{display:none}
#blog-pager{margin:1em 0;text-align:center;overflow:hidden}
.status-msg-wrap{font-size:110%;width:90%;margin:10px auto;position:relative}
.status-msg-border{border:#000 solid 1px;opacity:.4;width:100%;position:relative}
.status-msg-bg{background-color:#ccc;opacity:.8;width:100%;position:relative;z-index:1}
.status-msg-body{text-align:center;padding:.3em 0;width:100%;position:absolute;z-index:4}
.status-msg-hidden{visibility:hidden;padding:.3em 0}
body{margin:0;padding:0 0 1px}
.widget{position:relative;min-height:0}
.section{margin:0 15px}
.widget{margin:30px 0}
.section:first-child .widget:first-child{margin-top:0}
.section:last-child .widget:last-child{margin-bottom:0}
.widget{line-height:1.4}
.widget ul{padding:0 1.25em 0 0;margin:0;line-height:1.2}
.widget li{padding:.25em 0;margin:0;text-indent:0}
html{height:100%}
body{min-height:100%;position:relative}
section{display:block}
div.clear{clear:both}
body{overflow-wrap:break-word;word-break:break-word;overflow-wrap:break-word}
.container::after{clear:both;content:&quot;&quot;;display:table}
input::-ms-clear{display:none}
#blog-pager{margin:1em 0;text-align:center;overflow:hidden}
.status-msg-wrap{font-size:110%;width:90%;margin:10px auto;position:relative}
.status-msg-border{border:#000 solid 1px;opacity:.4;width:100%;position:relative}
.status-msg-bg{background-color:#ccc;opacity:.8;width:100%;position:relative;z-index:1}
.status-msg-body{text-align:center;padding:.3em 0;width:100%;position:absolute;z-index:4}
.status-msg-hidden{visibility:hidden;padding:.3em 0}
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto}
.fa-volume-up:before{content:&quot;\f028&quot;}
.fa-copy:before{content:&quot;\f0c5&quot;}
.fa-youtube:before{content:&quot;\f167&quot;}
.fa-yahoo:before{content:&quot;\f19e&quot;}
.fa-google:before{content:&quot;\f1a0&quot;}
.fa-wikipedia-w:before{content:&quot;\f266&quot;}
@font-face{font-family:Linearicons-Free;src:url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.eot);src:url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.eot?#iefix) format(&#39;embedded-opentype&#39;),url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.woff2) format(&#39;woff2&#39;),url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.ttf) format(&#39;truetype&#39;),url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.woff) format(&#39;woff&#39;),url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.svg#Linearicons-Free) format(&#39;svg&#39;);font-weight:400;font-style:normal}
html,body,.section,.widget,div,p,a,ul,li,form{margin:0;padding:0}
html{overflow-x:hidden}
a{text-decoration:none;color:#000}
section{display:block}
.home-link{display:none}
::selection{background:transparent;text-shadow:0 0 2px #000}
::-moz-selection{background:transparent;text-shadow:0 0 2px #000}
::-webkit-selection{background:transparent;text-shadow:0 0 2px #000}
::-o-selection{background:transparent;text-shadow:0 0 2px #000}
ul{padding:0;margin:0;text-align:left}
ul li{list-style-type:disc;padding:0 0 5px}
*,*:before,*:after{box-sizing:border-box}
.status-msg-wrap{display:none}
div.as{color:#000}
body{font-family:&quot;Open Sans&quot;,sans-serif;font-size:14px;font-weight:400;line-height:21px;background:#f5f5f5}
#outer-wrapper{max-width:100%;margin:0 auto;background-color:#f5f5f5;box-shadow:0 0 5px rgb(0,0,0,0.2)}
.row{width:1170px}
#content-wrapper{margin:0 auto}
.index #content-wrapper{overflow:hidden}
.index #main-wrapper{float:none;width:100%;max-width:100%}
.index #sidebar-wrapper{display:none;visibility:hidden;height:0;opacity:0}
#header-wrapper{text-align:center;padding:0;margin-bottom:10px;box-sizing:border-box;position:relative;width:100%}
.background-container{position:relative;height:380px;overflow:hidden;background:#f5f5f5;background-attachment:fixed;background-size:cover;background-position:bottom center}
.index #header-wrapper{margin-bottom:0}
.fenix-sub-head{margin:0 auto;border-radius:35px;background:#b4b4b4;margin-top:-362px;position:relative;z-index:9;box-shadow:0 1px 6px rgb(0,0,0,0.12),0 1px 4px rgb(0,0,0,0.24)}
.hero-row{width:1100px}
.sora-works-box{overflow:hidden;margin:0 auto;padding:0}
.works-wrap{margin:0 auto}
.sora-cv-hobby-details{margin:15px auto;position:relative}
.sora-cv-hobby-details-inner{box-sizing:border-box;background-color:#fff;transition:box-shadow .25s;box-shadow:0 2px 5px 0 rgb(0,0,0,0.16),0 2px 10px 0 rgb(0,0,0,0.12)}
#blog-pager{clear:both;text-align:center;padding:15px 0;color:#4d4d4d}
.home #blog-pager{display:none}
@media only screen and (max-width:768px){.fenix-sub-head{margin-left:0}
}
.bot-bar-menu{padding:20px 0;overflow:hidden}
.bot-menu-wrap{margin:0 auto;position:relative;text-align:center}
.bottom-bar-social{float:left}
.bottom-bar-social li{display:inline;padding:0;float:left;margin-right:5px}
.bottom-bar-social .widget ul{padding:0}
.bottom-bar-social .LinkList ul{text-align:center}
.bottom-bar-social #social a{display:block;font-size:14px;color:#fff;padding:10px 5px}
.bottom-bar-social #social a:before{display:inline-block;font:normal normal normal 22px/1 FontAwesome;font-size:inherit;font-style:normal;font-weight:400}
.bottom-bar-social .facebook:before{content:&quot;\f09a&quot;}
.bottom-bar-social .twitter:before{content:&quot;\f099&quot;}
.bottom-bar-social .instagram:before{content:&quot;\f16d&quot;}
.bottom-bar-social ul#social a:hover{opacity:1}
.jugas_footer_copyright{float:right;display:inline-block;color:#fff;line-height:36px}
.jugas_footer_copyright a{color:#1976d2}
@media only screen and (max-width:1200px){.fenix-sub-head{margin-left:0}
.row{width:100%;float:none;padding-left:10px!important;padding-right:10px!important;box-sizing:border-box}
}
@media only screen and (max-width:1100px){.fenix-sub-head{margin-left:0}
}
@media only screen and (max-width:980px){.fenix-sub-head{margin-left:0}
#main-wrapper{max-width:100%}
#sidebar-wrapper{padding-top:20px}
}
@media screen and (max-width:940px){.background-container{display:none}
.hero-row{width:100%}
.fenix-sub-head{margin-top:0}
}
@media screen and (max-width:880px){.home #header-wrapper{margin-bottom:10px}
}
@media only screen and (max-width:768px){.fenix-sub-head{margin-left:0}
.bottom-bar-social{float:none;width:100%;clear:both;overflow:hidden;position:static}
.bottom-bar-social li{float:none;display:inline-block}
.jugas_footer_copyright{float:none}
}
@media only screen and (max-width:767px){.fenix-sub-head{margin-left:0}
}
@media only screen and (max-width:480px){.fenix-sub-head{margin-left:0}
#sidebar-wrapper{max-width:100%}
}
@media only screen and (max-width:360px){.fenix-sub-head{margin-left:0}
}
@media only screen and (max-width:300px){.fenix-sub-head{margin-left:0}
#sidebar-wrapper{display:none}
#blog-pager{padding:0;margin:0}
}
  .slideInUp{animation-name:slideInUp}
.bt,.btb{color:#222;cursor:pointer;font-size:18px;line-height:27px;font-family:&#39;Times New Roman&#39;;width:33pt;background:#fefefe;border-radius:4px;transition:all .1s ease-in-out;border:#888 solid 1px}
.bt,.btb{border:#646e7a solid .16em}
input.bft{width:100px;padding:7px;outline:0;border:0;color:#fff;cursor:pointer;margin-top:10px;font-size:17px;border-radius:5px;background:#5372f0;font-family: 'Poppins',sans-serif;margin-left:5px}
p{margin-top:.6em;margin-bottom:.6em}
.esp{clear:both}
a{color:#fff}
a:hover{color:#D00;text-decoration:none}
.eff{background:url(&quot;../images/effacer.png&quot;) center right no-repeat;padding-right:20px;cursor:pointer;width:24px;height:16px;border-width:0}
textarea{font-family:Arial,sans-serif;color:#5b5b5b;font-size:1em}
input{font-family:Arial,sans-serif;color:#5b5b5b;font-size:1em}
select{font-family:Arial,sans-serif;color:#fff;font-size:.85em}
#bar{border:0;border-radius:10px;background:#e4e4e4;color:#000;height:180px}
.delc{position:absolute;left:2%}
.center{text-align:center}
.as{display:inline-block;padding-bottom:.4em;text-align:center;font-family:Arial,sans-serif}
.as p{margin:.15em 0 .15em 0}
.rtl{direction:rtl}
ul li{line-height:20pt}
@media screen and (max-width:960px){select{max-width:90%}
.mobnul{display:none}
}
@media screen and (max-width:720px){.delc{position:absolute;left:0}
}
.bt{text-decoration:none;cursor:pointer;padding:.1em .25em;min-width:1.4em;font-size:1.7em;color:black;font-family:&quot;Times New Roman&quot;}
.btb{text-decoration:none;cursor:pointer;padding:.1em 0;min-width:1.2em;font-size:1.7em;color:black;font-family:&quot;Times New Roman&quot;}
.cadr{width:80%;font-size:24px;color:#000;font-family:&#39;Times New Roman&#39;;direction:rtl;padding:.3em;height:140px}
a.trl{width:100%;padding:7px;outline:0;border:0;color:#fff;cursor:pointer;margin-top:20px;font-size:17px;border-radius:5px;background:#5372f0;font-family: 'Poppins',sans-serif;margin-left:5px}
.bt{text-decoration:none;cursor:pointer;padding:.1em .25em;min-width:1.4em;font-size:1.7em;color:black;font-family:&quot;Times New Roman&quot;}
.btb{text-decoration:none;cursor:pointer;padding:.1em 0;min-width:1.2em;font-size:1.7em;color:black;font-family:&quot;Times New Roman&quot;}
.cadr{width:80%;font-size:24px;color:#000;font-family:&#39;Times New Roman&#39;;direction:rtl;padding:.3em}
.container{max-width:100%;width:100%;padding:30px;background:#fff;border-radius:7px;box-shadow:0 10px 20px rgb(0,0,0,0.01);font-family: 'Poppins',sans-serif;,sans-serif}
.wrapper{border-radius:5px;border:#ccc solid 1px}
.wrapper .text-input{display:flex;border-bottom:1px solid #ccc}
.text-input .to-text{border-radius:0;border-left:1px solid #ccc}
.text-input textarea{height:250px;width:100%;border:0;outline:0;resize:none;background:0;font-size:18px;padding:10px 15px;border-radius:5px}
.controls,li,.icons,.icons i{display:flex;align-items:center;justify-content:space-between}
.controls{list-style:none;padding:12px 15px}
.controls .row .icons{width:38%}
.controls .row .icons i{width:50px;color:#adadad;font-size:14px;cursor:pointer;transition:transform .2s ease;justify-content:center}
.controls .row.from .icons{padding-right:15px;border-right:1px solid #ccc}
.controls .row.to .icons{padding-left:15px;border-left:1px solid #ccc}
.controls .row select{color:#333;border:0;outline:0;font-size:18px;background:0;padding-left:5px}
.text-input textarea::-webkit-scrollbar{width:4px}
.controls .row select::-webkit-scrollbar{width:8px}
.text-input textarea::-webkit-scrollbar-track,.controls .row select::-webkit-scrollbar-track{background:#fff}
.text-input textarea::-webkit-scrollbar-thumb{background:#ddd;border-radius:8px}
.controls .row select::-webkit-scrollbar-thumb{background:#999;border-radius:8px;border-right:2px solid #fff}
.controls .exchange{color:#adadad;cursor:pointer;font-size:16px;transition:transform .2s ease}
.controls i:active{transform:scale(0.9)}
.container button{width:100%;padding:14px;outline:0;border:0;color:#fff;cursor:pointer;margin-top:20px;font-size:17px;border-radius:5px;background:#5372f0;font-family: 'Poppins',sans-serif;
@media(max-width:660px){.container{padding:20px}
.wrapper .text-input{flex-direction:column}
.text-input .to-text{border-left:0;border-top:1px solid #ccc}
.text-input textarea{height:200px}
.controls .row .icons{display:none}
.container button{padding:13px;font-size:16px}
.controls .row select{font-size:16px}
.controls .exchange{font-size:14px}
}
.overlay{position:fixed;top:0;bottom:0;left:0;right:0;background:rgb(0,0,0,0.7);transition:opacity .5s;visibility:hidden;opacity:0}
.overlay:target{visibility:visible;opacity:1}
.popup{margin:70px auto;padding:20px;background:#fff;border-radius:5px;width:45%;position:relative;transition:all .5s ease-in-out}
.popup .close{position:absolute;top:20px;right:30px;transition:all 200ms;font-size:30px;font-weight:bold;text-decoration:none;color:#333}
.popup .close:hover{color:#06d85f}
@media screen and (max-width:700px){.popup{width:70%}
}
*,*::before,*::after{box-sizing:border-box;padding:0;margin:0}
.container1{display:flex;flex-wrap:wrap;justify-content:center;max-width:1200px;margin-block:2rem;gap:2rem;font-family:&quot;Quicksand&quot;,sans-serif}
img{max-width:100%;display:block;object-fit:cover}
.card{display:flex;flex-direction:column;width:clamp(20rem,calc(20rem + 2vw),22rem);overflow:hidden;box-shadow:0 .1rem 1rem rgba(0,0,0,0.1);border-radius:1em;background:#ece9e6;background:linear-gradient(to right,#FFFFFF,#ECE9E6)}
.card__body{padding:1rem;display:flex;flex-direction:column;gap:.5rem}
.tag{align-self:flex-start;padding:.25em .75em;border-radius:1em;font-size:.75rem}
.tag+.tag{margin-left:.5em}
.tag-blue{background:#56ccf2;background:linear-gradient(to bottom,#2F80ED,#56CCF2);color:#fafafa}
.tag-brown{background:#d1913c;background:linear-gradient(to bottom,#FFD194,#D1913C);color:#fafafa}
.tag-red{background:#cb2d3e;background:linear-gradient(to bottom,#ef473a,#cb2d3e);color:#fafafa}
.card__body h4{font-size:1.5rem;text-transform:capitalize}
.card__footer{display:flex;padding:1rem;margin-top:auto}
.user{display:flex;gap:.5rem}
.user__image{border-radius:50%}
.user__info&gt;small{color:#666}

.bt{text-decoration:none; cursor:pointer; padding:0.1em 0.25em; min-width:1.4em; font-size:1.7em; color:black; font-family:Times New Roman; }

.btb{text-decoration:none; cursor:pointer; padding:0.1em 0em; min-width:1.2em; font-size:1.7em; color:black; font-family:Times New Roman; }

.cadr {width:80%; font-size:24px; color:#000; font-family:&#39;Times New Roman&#39;; direction:rtl; padding:0.3em; }

.wrapper{
border-radius: 5px;
border: 1px solid #ccc;
}

.wrapper .text-input{
display: flex;
border-bottom: 1px solid #ccc;
}

.text-input .to-text{
border-radius: 0px;
border-left: 1px solid #ccc;
}

.text-input textarea{
height: 250px;
width: 100%;
border: none;
outline: none;
resize: none;
background: none;
font-size: 18px;
padding: 10px 15px;
border-radius: 5px;
}

.controls, li, .icons, .icons i{
display: flex;
align-items: center;
justify-content: space-between;
}

.controls{
list-style: none;
padding: 12px 15px;
}

.controls .row .icons{
width: 38%;
}

.controls .row .icons i{
width: 50px;
color: #adadad;
font-size: 14px;
cursor: pointer;
transition: transform 0.2s ease;
justify-content: center;
}

.controls .row.from .icons{
padding-right: 15px;
border-right: 1px solid #ccc;
}

.controls .row.to .icons{
padding-left: 15px;
border-left: 1px solid #ccc;
}

.controls .row select{
color: #333;
border: none;
outline: none;
font-size: 18px;
background: none;
padding-left: 5px;
}

.controls .exchange{
color: #adadad;
cursor: pointer;
font-size: 16px;
transition: transform 0.2s ease;
}

.container button{
width: 100%;
padding: 14px;
outline: none;
border: none;
color: #fff;
cursor: pointer;
margin-top: 20px;
font-size: 17px;
border-radius: 5px;
background: #5372F0;
font-family: &#39;Poppins&#39;, sans-serif;
}

.overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
transition: opacity 0.5s;
visibility: hidden;
opacity: 0;
}

.popup {
margin: 70px auto;
padding: 20px;
background: #fff;
border-radius: 5px;
width: 45%;
position: relative;
transition: all 0.5s ease-in-out;
}

.popup .close {
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #333;
}

.fa,.fab,.fad,.fal,.far,.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
}

.section {
    margin: 0 15px
}


.widget {
    margin: 30px 0;
    _margin: 0 0 10px
}


.section:first-child .widget:first-child {
    margin-top: 0
}

body {
    margin: 0;
    padding: 0 0 1px
}


.content-outer,.header-outer,.tabs-outer,.main-outer,.main-inner,.footer-outer,.post,.comments,.widget,.date-header,.inline-ad {
    position: relative;
    min-height: 0;
    _position: static;
    _height: 1%
}

.section:last-child .widget:last-child {
    margin-bottom: 0
}

h1,h2,h3,h4 {
    margin: 0;
    position: relative
}

.widget {
    line-height: 1.4
}


.widget ul {
    padding: 0 0 0 1.25em;
    margin: 0;
    line-height: 1.2
}

.widget li,.BlogArchive #ArchiveList ul.flat li {
    padding: .25em 0;
    margin: 0;
    text-indent: 0
}

html {
    height: 100%
}


body {
    min-height: 100%;
    _height: 100%;
    position: relative
}

section,nav,article,aside,hgroup,header,footer {
    display: block
}

div.clear {
    clear: both
}

body {
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word
}

.container::after,.float-container::after {
    clear: both;
    content: &quot;&quot;;
    display: table
}

#blog-pager {
    margin: 1em 0;
    text-align: center;
    overflow: hidden
}

.status-msg-wrap {
    font-size: 110%;
    width: 90%;
    margin: 10px auto;
    position: relative
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.ind-darkmode{ display:inline-block; float: right; margin-top: 3px; position:absolute; right:45px; top: 0; z-index:999; } .ind-darkmode svg{ width:24px; height:24px; vertical-align: -5px; background-repeat: no-repeat !important; content: &#39;&#39;; } .ind-darkmode svg path{ fill:#000; } .ind-darkmode .check:checked ~ .NavMenu{ is opacity:1; visibility:visible; top:45px; min-width:200px; transition:all .3s ease; z-index:2; } .ind-icon { cursor: pointer; display: block; padding: 8px; background-position: center; transition: all .5s linear; } .ind-icon:hover{ border-radius: 100px; background: rgba(0,0,0,.2) radial-gradient(circle, transparent 2%, rgba(0,0,0,.2) 2%) center/15000%; } .check { display: none; } .ind-darkmode .ind-icon .openmode{ display:block; } .ind-darkmode .ind-icon .closemode{ display:none; } .ind-darkmode .check:checked ~ .ind-icon .openmode{ display:none; } 
.ind-darkmode .check:checked ~ .ind-icon .closemode{ display:block; } 
.Night { background: #353535; } 
.nightmode .ind-darkmode svg path{
     fill: #fff;		/*----- مجرد مثال لل سي اس اس الذى يتم وضعه للعنصر هنا -----*/
}
.nightmode #outer-wrapper {
    background: #000;
    background-color:#000;
}
.nightmode .bt{
background: #000000;
color: white;
}
.nightmode .btb{
background: #000000;
color: white;
}
.nightmode div.as{
color: white;
}
